/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    background-color: #007BFF;
    color: white;
    padding: 10px;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    font-size: 18px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
